/* 
Admin Base Template
Author: MaestroX (http://themeforest.net/user/MaestroX)
*/

/* CSS Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, form {
    margin:0;
    padding:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:inherit;
    vertical-align:baseline;
}
body {
    line-height:1.5;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:"";
}
blockquote, q {
    quotes:"" "";
}
a img {
    border:none;
    vertical-align: middle;
}
/* Base */
html {
    font-size:100.01%;
}
body {
    font-size:75%;
    color:#1a1a1a;
    background:#f4f4f4;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    color:#666;
}
h1 {
    font-size:24px;
    font-weight:bold;
    line-height:1;
    color:#333
}
h1 a {
    font-size:18px;
    font-weight:bold;
    line-height:1;
    color:#333;
    text-decoration:none;

}
h1 a:hover {
    text-decoration:underline;
}

h2 {
    color:#454545;
    font-size:16px;
    font-weight:bold;
    margin-bottom:10px;
}
h3 {
    color:#666666;
    font-size:14px;
    font-weight:bold;
    margin-bottom:15px;
}
h4 {
    font-size:13px;
    font-weight:bold;
    margin-bottom:15px;
}
h5 {
    font-size:12px;
    margin-bottom:15px;
}
h6 {
    font-size:11px;
    margin-bottom:15px;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin:0;
}
p {
    margin:0 0 1.5em;
    clear:both;
    line-height:1.6;
}
a:focus, a:hover {
    color:#000;
}
a {
    color:#009;
    text-decoration:underline;
}
blockquote {
    margin:1.5em;
    color:#666;
    font-style:italic;
}
strong {
    font-weight:bold;
}
em, dfn {
    font-style:italic;
}
dfn {
    font-weight:bold;
}
sup, sub {
    line-height:0;
}
abbr, acronym {
    border-bottom:1px dotted #666;
}
address {
    margin:0 0 1.5em;
    font-style:italic;
}
/* misc */
.cl {
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
    width:0;
    line-height:0;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.fn {
    float:none!important;
}
.tl {
    text-align:left;
}
.tr {
    text-align:right;
}
.tc {
    text-align:center;
}
.hd {
    display: none;
}
.strong {
    font-weight:bold!important;
}
/* Main Elements */
#logo {
    padding:7px 0 0 0;
    margin: -30px 0 0 -10px;
}
#header {
    color:#fff;
    background-color: #404040;
}
#header a {
    color:#fff;
    text-decoration:underline;
}
#header a:hover {
    color:#fff;
    text-decoration:none;
}
.header-top {
    background-color:#404040;
    padding:3px 20px 0;
    font-size: 11px;
}
.header-middle {
    background:#404040 url('../img/header-middle.gif') repeat-x bottom;
    border-bottom:1px solid #050505;
    padding:0 25px;
    height:18px;
}
.header-bottom {
    border-top:1px solid #545454;
    border-bottom:1px solid #545454;
    font-size: 11px;
    text-indent: -9999px;
    height: 3px;
}
#header p {
    margin:0 0 5px 0;
    font-size: 11px;
}
#header span {
    color:#6e7d87;
}
.footer {
    background:#313131 url('../img/header-bottom.gif') repeat-x bottom;
    border-top:1px solid #545454;
    border-bottom:1px solid #000;
    padding:5px 20px;
    color:#fff;
    font-size: 11px;
    margin: 0 0 -24px;
}
.footer a {
    color:#fff;
    text-decoration:underline;
}
.footer a:hover {
    color:#fff;
    text-decoration:none;
}
#page-wrapper {
    border-top:1px solid #060606;
    border-bottom:1px solid #000000;
    background:#f4f4f4 url('../img/page-bg.gif') repeat-x top;
}
.page {
    background: url('../img/sidebar-bg.png') repeat-y left;
}
#page-content {
    margin-left:210px;
    padding:15px 10px 15px 15px;
    color:#333;
}
#page-header {
    border-bottom:1px solid #d5d5d5;
    padding-bottom: 5px;
    margin-bottom:15px;
    margin-left:1%;
    margin-right:1%;
}

/* Navigation */
#nav {
    font-size:16px;
    font-weight:bold;
    list-style-type:none;
    margin:0;
    padding:0;
    width:78%;
    height:62px;
    background-color: #353535;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
#nav li {
    display:block;
    float:right;
    padding:19px 21px;
    text-align: left;
    position:relative;
    height:24px;
    font-size:16px;
}
#nav li:hover {
    background:#2d2d2d;
    border-right:1px solid #606060;
    border-left:1px solid #606060;
    border-top:0;
    border-bottom:0;
    padding:19px 20px;
}
#nav li a {
    color:#fff;
    padding:22px 10px 22px 40px;
    text-shadow: 0 -1px 1px #000000;
    font-size:16px;
    text-decoration:none;
}
#nav li a:hover {
    text-decoration:none;
}
#nav li a.help {
    background: url('../img/icons/nav/help.png') no-repeat 0 -38px;
}
#nav li a.settings {
    background: url('../img/icons/nav/settings.png') no-repeat 0 -38px;
}
#nav li a.users {
    background: url('../img/icons/nav/users.png') no-repeat 0 -38px;
}
#nav li a.content {
    background: url('../img/icons/nav/content.png') no-repeat 0 -38px;
}
#nav li a.dashboard {
    background: url('../img/icons/nav/dashboard.png') no-repeat 0 -38px;
}
#nav li a.conversation {
    background: url('../img/icons/nav/conversation.png') no-repeat 0 -38px;
}
#nav li:hover > a {
    background-position: 0 16px;
}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
    background: none;
    border: none;
}
#nav ul a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
/* dropdown */
#nav li:hover > ul {
    display: block;
}
/* drop down widths */
#nav li.dashboard ul {
    width: 172px;
}
#nav li.dashboard ul li ul {
    left:172px;
}
#nav li.content ul {
    width: 151px;
}
#nav li.content ul li ul {
    left: 151px;
}
#nav li.users ul {
    width: 134px;
}
#nav li.users ul li ul {
    left:134px;
}
#nav li.settings ul {
    width: 153px;
}
#nav li.settings ul li ul {
    left: 153px;
}
#nav li.help ul {
    width: 124px;
}
#nav li.help ul li ul {
    left: 124px;
}
/* level 2 list */
#nav ul {
    display: none;
    margin: 0;
    padding: 0;
    /*	width: 174px; */
    position: absolute;
    top: 62px;
    left: -1px;
    background: #2d2d2d;
    border:1px solid #606060;
    z-index:10;
    border-top:none;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    padding-bottom:5px;
}
#nav ul li {
    float: none;
    padding: 6px 0 1px;
    margin: 0;
}
#nav ul li:hover {
    padding: 6px 0 1px;
}
#nav ul li:hover {
    background:#478db4;
    border:0;
}
#nav ul a {
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:0 15px;
    text-shadow:none;
    padding-left:15px;
    vertical-align:top;
}
#nav ul li:hover > a {
    text-shadow:none;
    vertical-align:top;
}
/* level 3+ list */
#nav ul ul {
    /*	left: 174px; */
    top: 0;
    -moz-border-radius:0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-top:1px solid #606060;
}
/* rounded corners of first and last link */

#nav ul li:last-child > a {
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
}
/* clearfix */
#nav:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#nav {
    display: inline-block;
}
html[xmlns] #nav {
    display: block;
}
* html #nav {
    height: 1%;
}


/* breadcrumbs */
#breadcrumbs {
    list-style:none;
    padding:0;
    margin:0;
}
#breadcrumbs li {
    display:inline;
    font-size:11px;
    line-height: normal;
    float: none;
}
#breadcrumbs li a {
    float: none;
    display: inline;
    font-weight: bold;
    padding: 0;
    text-decoration:none;
    font-size:11px;
}
#breadcrumbs li.bold a {
    font-weight:bold;
}
#breadcrumbs li:HOVER {
    background: none;
    padding: 0;
}
#breadcrumbs li:HOVER A {
    text-decoration:underline;
    padding: 0;
}
.breadcrumbs li a:HOVER {
    text-decoration:underline;
    background: none;
    padding: 0;
}
/* sidebar */
#sidebar {
    float:left;
    width:185px;
    color:#333;
    padding:5px 10px 10px 10px;
}
#sidebar a {
    color:#333;
}
#sidebar ul {
    list-style-type:none;
    padding:0;
    margin:0 0 15px;
}
#sidebar ul li {
    border-top:1px solid #f6f6f6;
    border-bottom:1px solid #e0e0e0;
    padding:2px;
    width:175px;
}
#sidebar ul li a {
    width:140px;
    display: block;
    padding:3px 15px 3px 22px;
    text-decoration:none;
}
#sidebar ul li a:hover {
    color:#e56100;
    font-weight:bold;
}
.ul-header {
    border-bottom:1px solid #e0e0e0;
    font-weight:bold;
    font-size:14px;
    display:block;
    width:175px;
    padding:5px;
    color:#444444;
    margin-top:3px;
}
.ul-header a {
    font-weight:bold;
    font-size:14px;
    color:#444444;
    text-decoration:none;
}
/** sidebar icons **/
#sidebar ul li a.icn_manage_image {
    background: url('../img/icons/small/image_manage.png') no-repeat left;
}
#sidebar ul li a.icn_add_image {
    background: url('../img/icons/small/image_add.png') no-repeat left;
}
#sidebar ul li a.icn_edit_image {
    background: url('../img/icons/small/image_edit.png') no-repeat left;
}
#sidebar ul li a.icn_delete_image {
    background: url('../img/icons/small/image_delete.png') no-repeat left;
}
#sidebar ul li a.icn_manage_users {
    background: url('../img/icons/small/user.png') no-repeat left;
}
#sidebar ul li a.icn_add_users {
    background: url('../img/icons/small/user_add.png') no-repeat left;
}
#sidebar ul li a.icn_edit_users {
    background: url('../img/icons/small/user_edit.png') no-repeat left;
}
#sidebar ul li a.icn_delete_users {
    background: url('../img/icons/small/user_delete.png') no-repeat left;
}
#sidebar ul li a.icn_manage_pages {
    background: url('../img/icons/small/page.png') no-repeat left;
}
#sidebar ul li a.icn_manage_pages:hover {
    background: url('../img/icons/small/page2.png') no-repeat left;
}
#sidebar ul li a.icn_add_pages {
    background: url('../img/icons/small/page_add.png') no-repeat left;
}
#sidebar ul li a.icn_edit_pages {
    background: url('../img/icons/small/page_edit.png') no-repeat left;
}
#sidebar ul li a.icn_delete_pages {
    background: url('../img/icons/small/page_delete.png') no-repeat left;
}
#sidebar ul li a.icn_manage_comments {
    background: url('../img/icons/small/comment.png') no-repeat left;
}
#sidebar ul li a.icn_add_comments {
    background: url('../img/icons/small/comment_add.png') no-repeat left;
}
#sidebar ul li a.icn_edit_comments {
    background: url('../img/icons/small/comment_edit.png') no-repeat left;
}
#sidebar ul li a.icn_delete_comments {
    background: url('../img/icons/small/comment_delete.png') no-repeat left;
}
#sidebar ul li a.star {
    background: url('../img/icons/others/star.png') no-repeat left;
}
.toggle {
    display:block;
}
.ul-header a.visible {
    background:url('../img/icons/small/toggle_close.png') no-repeat scroll 97% 50%;
}
.ul-header a.hidden {
    background:url('../img/icons/small/toggle_open.png') no-repeat scroll 97% 50%;
}
/* Live Search (Sidebar) */
.searchform {
    display:inline-block;
    margin-bottom:15px;
    padding:0;
}
.searchform input {
    font:12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
    -moz-border-radius:5px 0 0 5px;
    -moz-box-shadow:0 1px 2px #c7c6c6 inset;
    -webkit-border-radius:5px 0 0 5px;
    -webkit-box-shadow:0 1px 2px #c7c6c6 inset;
    background:#FFFFFF url(../img/search-bg.gif) no-repeat 10px center;
    border:1px solid #c7c6c6;
    outline:medium none;
    padding:7px 6px 6px 28px;
    width:119px;
    float:left;
    margin:0;
}
.searchform .searchfield:focus, .searchform .searchfield:focus > input.searchbutton {
    -moz-box-shadow:0px 0px 3px #d0e1f7;
    border:1px solid #d0e1f7;
}
.searchform .searchbutton {
    -moz-border-radius:0 5px 5px 0;
    -moz-box-shadow:0 1px 2px #c7c6c6;
    -webkit-border-radius:0 5px 5px 0;
    -webkit-box-shadow:0 1px 2px #c7c6c6;
    background:#d6d6d6 url(../img/go-bg.gif) repeat-x top;
    border:1px solid #a9a8a8;
    color:#888888;
    font-size:12px;
    font-weight:bold;
    height:29px;
    text-shadow:0 1px 1px #f6f6f6;
    width:30px;
    float:left;
    margin:0;
    padding:0;
}
/* Page Blocks */
.box {
    background:#fff;
    border:1px solid #9d9d9d;
    margin-bottom:15px;
    padding:15px;
    border-top:0;
    -moz-border-radius-bottomleft :3px;
    -moz-border-radius-bottomright :3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
}
.box a {
    color:#1f92ff;
    text-decoration:none;
}
.box a:hover {
    color:#1f92ff;
    text-decoration:underline;
}
.box.stats {
    padding:30px 15px;
}
.box.table {
    padding:0;
}
.box-header {
    border:1px solid #9d9d9d;
    font-weight:bold;
    font-size:12px;
    background:#cdcdcd url('../img/boxheader.gif') repeat-x top;
    padding:5px 10px;
    color:#333333;
    -moz-border-radius-topleft :3px;
    -moz-border-radius-topright :3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    text-shadow: 1px 1px 1px #fff;
}
.box-header .fr a {
    color:#333333;
    text-decoration:none;
    font-size:12px;
    padding:0 5px;
}
.box-header .fr a:hover {
    color:#1f92ff;
}
.box h2 {
    color:#454545;
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
}
.box h3 {
    color:#666666;
    font-size:14px;
    font-weight:bold;
    margin-bottom:15px;
}
.box h4 {
    color:#666666;
    font-size:13px;
    font-weight:bold;
    margin-bottom:15px;
}
.box ul {
    padding-bottom:15px;
    padding-left:30px;
}
.box ul li {
    margin-bottom:5px;
    padding-left:5px;
}
.box ol {
    list-style-position:inside;
    padding-bottom:15px;
    padding-left:15px;
}
.box ol li {
    margin-bottom:5px;
}
/* notifications */
.notification.success {
    background:#effeb9 url('../img/icons/notifications/success.png') no-repeat 5px 5px;
    border-color:#98c700;
}
.notification.error {
    background:#fccac3 url('../img/icons/notifications/error.png') no-repeat 5px 5px;
    border-color:#ea5338;
}
.notification.warning {
    background:#ffeaa7 url('../img/icons/notifications/warning.png') no-repeat 5px 5px;
    border-color:#f9b418;
}
.notification.info {
    background:#d1e4f3 url('../img/icons/notifications/info.png') no-repeat 5px 5px;
    border-color:#4d8fcc;
}
.notification.tip {
    background:#feeac9 url('../img/icons/notifications/tip.png') no-repeat 5px 5px;
    border-color:#d38e49;
}
.notification.loading {
    background:#feeac9 url('../img/icons/notifications/ajax-loader.gif') no-repeat 5px 5px;
    border-color:#d38e49;
}
.notification {
    border-width:1px;
    border-style:solid;
    padding:12px 12px 12px 45px;
    margin:0 10px 15px;
    -moz-border-radius:3px;
    -webkit-border:3px;
    border-radius:3px;
}
.notification .close {
    background:url("../img/icons/small/close.png") no-repeat scroll 0 0 transparent;
    cursor:pointer;
    display:block;
    float:right;
    height:16px;
    margin-top:2px;
    opacity:0.7;
    width:16px;
}
.notification .close:hover {
    opacity:1;
}
/* Forms */
form label {
    padding-top:5px;
    margin-right: 8px;
    display: block;
    color:#454545;
    font-size:12px;
    font-weight:bold;
    float:left;
}
form p {
    margin-bottom:15px;
    padding-bottom:20px;
}
form div.row {
    clear:both;
    padding:4px 0;
    margin-bottom:3px;
}
form .row label {
    width:150px;
}
form .row .checkbox, form .row .radio {
    width:auto;
}
form input, form textarea, form select, .defaultbox {
    /*background: #FFFFFF url('../img/input-bg.gif') repeat-x top;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #c7c6c6;
    outline:medium none;
    padding:4px 4px 4px 4px;
    margin:0;
    font-size: 12px;*/
    background: #FFFFFF url('../img/input-bg.gif') repeat-x top;
    background-color: #FFFFFF;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border:1px solid #c7c6c6;
    padding:3px;
    margin:0;
    font-size: 12px;
}
form .row span.field {
    line-height: 10px;
    outline:medium none;
    padding:4px;
    margin:0;
}
form .error {
    border:1px solid #EA5338;/* #FCCAC3 */
}
form .error:focus {
    border:1px solid #EA5338;
    -webkit-box-shadow:0 1px 2px #EA5338 inset;
    -moz-box-shadow:0 1px 2px #EA5338 inset;
}
form input[type=checkbox], form input[type=radio] {
    float:left;
    border:none;
    background:none;
    margin:0;
    padding:0;
    margin-top:3px;
}
form input[type=checkbox]:focus, form input[type=radio]:focus {
    border:none;
    background:none;
}
form label.checkbox, form label.radio {
    font-weight:normal;
    margin:0;
    padding:0 20px 0 6px;
    vertical-align:bottom;
}
form input:focus, form textarea:focus, form select:focus {
    -moz-box-shadow:0px 0px 3px #8692a1;
    border:1px solid #6f7985;
}
form optgroup {
    background:#f7f7f7;
}
fieldset {
    margin-bottom:15px;
}
/* Buttons */
.button {
    -moz-border-radius:0.4em 0.4em 0.4em 0.4em;
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    display:inline-block;
    font:14px/100% Arial, Helvetica, sans-serif;
    margin:0 2px;
    padding:0.5em 2em 0.55em;
    text-align:center;
    text-decoration:none;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align:baseline;
    background:#868686 url('../img/btn-bg-dark.gif') repeat-x bottom;
    color:#E9E9E9;
}
.button:hover {
    background:#585858 url('../img/btn-bg-dark-hover.gif') repeat-x bottom;
    text-decoration:none;
}
.button:active {
    background:#585858 url('../img/btn-bg-dark-active.gif') repeat-x bottom;
    color:#AFAFAF;
    position:relative;
    top:1px;
}
.medium {
    font-size:12px;
    padding:0.4em 1.5em 0.42em;
}
.small, .medium {
    font-size:11px;
    padding:0.2em 1em 0.275em;

}
/* Tables */
table {
    border-collapse:separate;
    border-spacing:0px;
}
caption, th, td {
    text-align:left;
    font-weight:normal;
}
table, td, th {
    vertical-align:middle;
}
table {
    width:100%;
}
thead td, thead th {
    background-color:#E6E6E6;
}
tr td, thead th {
    border-left:1px solid #CCCCCC;
    color:#616161;
    padding:5px 6px 5px 6px;
}
tr td {
    vertical-align:middle;
    font: 11px Tahoma, Arial, Verdana, sans-serif;
}
thead td, thead th {
    font-weight:bold;
    padding:4px 6px 2px 6px;
}
tbody tr:hover td {
    background-color: #fff6de;
}
th, td {
    border-bottom:1px solid #DEDEDE;
}
tbody th {
    padding:0 8px;
    text-align:left;
}
/* Dialog Box */
.message {
    font-size:12px;
    padding:15px;
    margin-bottom:10px;
    border:1px solid #AAAAAA;
}
.message.new {
    background:#feeac9;
    border:1px solid #d38e49;
}
.message h4 {
    border-bottom:1px solid #AAAAAA;
    padding-bottom:5px;
}
small {
    font-size:10px;
}
/* Login Page */
#login-wrapper {
    margin:0 auto;
    width:400px;
    margin-top:150px;
}
div#login-wrapper div.notification {
    padding:15px 15px 15px 50px;
}
.box-header.login {
    font-size:19px;
    padding:10px 15px;
}
form.login label {
    width:145px;
}
form.login input {
    width:200px;
}


/** personalizado */

.pagination {  }
#ajaxbox{ min-height:600px; }
.tablefoot { width: 50%; }
.disable_this { cursor: default;}
.debug { display:inline; }
.subheader { border-bottom: 1px dotted #ccc; font-size: 14px; margin: 15px 0 3px;  }
.currency { text-align: right;}

.birthday { clear: both; margin-bottom: 5px;}
.birthday_date { width: 10%;float:left; border-right: 1px solid #ddd; padding-right:5px; font-family: "Trebuchet MS"; text-align: center; }
.birthday_date strong { font-size: 16px; }
.birthday_name { width: 80%;float:left; padding-left:5px; line-height: 250%; font-family: "Trebuchet MS"; font-size: 14px;}
.redbold { color: red; font-weight: bold;}

#ieblock {
    background:#000;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 1000px;
    z-index:1000;
}
#iemessage {
    background:#fff;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-175px;
    margin-left:-225px;
    width: 450px;
    height: 250px;
    z-index:1000;
    
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-border-radius:0.5em 0.5em 0.5em 0.5em;
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    border:1px solid #DDD;
    padding:5px;
}
#fancy_title { display:none; }
