* {	margin:0; padding: 0; }
body { background: url(../imagens/fundo.gif) repeat-x #efefef; font: 11px Tahoma, Arial, Helvetica, sans-serif;}
#meiorevenda p { padding: 5px 0 ; margin:5px 0; }
#geral { width: 970px; margin:0 auto; }
img, div, input { behavior: url("/js/iepngfix.htc") }
/********************************************************************************** TOPO */
a { color:#000; }
#topo { width: 970px; height: 98px; margin:0 auto; }
h1 a { width: 236px; height: 34px; display: block; text-indent: -9999px; overflow: hidden; float:left; margin: 8px 0 0 15px;
       background: url(../imagens/logo2.gif) no-repeat; }

h1.logop2b a { width: 318px; height: 46px; display: block; text-indent: -9999px; overflow: hidden; float:left; margin: 10px 0 0 15px;
               background: url(../imagens/logo.gif) no-repeat; }

/********************************************************************************** MENU REVENDA */

ul.topnav { width: 966px; height: 41px; background: url(../imagens/menu3.gif) no-repeat; float:left; list-style: none; text-align: center;
            margin: 12px 0 0 0; position: relative; }

ul.topnav li {
    float: left;
    padding: 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a {
    padding: 12px 0;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
    text-shadow: 0 0 1px #000;
    width: 148px;
    height: 15px;
    color: #fff;
    font: bold 12px Tahoma, Arial, Helvetica, sans-serif;
    margin: 0 6px;
}
ul.topnav li a:hover {
    text-shadow: 0 0 10px #ffffff;
}
ul.topnav li span { /*--Drop down trigger styles--*/
                    width: 17px;
                    height: 35px;
                    float: left;
                    background: url(../imagens/subnav_btn.gif) no-repeat center top;
                    margin: 3px 0 0 -10px;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
    list-style: none;
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
    left: 0; top: 39px;
    margin: 0 5px 0 5px; padding: 0 5px 5px;
    display: none;
    float: left;
    width: 150px;
    background: url(../imagens/fundosub3.png) no-repeat bottom;
    z-index: 9999;
}
ul.topnav li ul.subnav li {
    margin: 0; padding: 0;
    border-top: 1px solid #e6e6e6; /*--Create bevel effect--*/
    /*border-bottom: 1px solid #bebebe; --Create bevel effect--*/
    clear: both;
    width: 150px;
    background: url(../imagens/topnav_bg.gif) repeat-x;
}
html ul.topnav li ul.subnav li a {
    font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
    height: 10px;
    float: left;
    width: 123px;
    color: #939393;
    text-shadow: 0 0 0px #fff;
    text-align: left;
    padding: 8px 0 13px 17px;
    background: url(../imagens/setinha.gif) no-repeat 5px center;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
                                         background: url(../imagens/setinha2.gif) no-repeat 10px center;
                                         width: 120px;
                                         padding: 8px 0 13px 23px;
                                         color:#000;
}
.espacobr {
    height: 5px;
}
.close a {
    font:  11px Tahoma, Arial, Verdana, sans-serif;
    color: #8e8e8e;
    text-decoration: none;
    padding: 2px 0 5px 18px;
    float: right;
    margin: 20px 10px 0 0;
}
.close a.icon-door {
    font: bold 11px Tahoma, Arial, Verdana, sans-serif;
    background: url(../imagens/door-open-out.png) 0 2px no-repeat;
}
.close a.icon-door:hover {
    color: #ff8a00;
}
.close a.icon-door:hover {
    background: url(../imagens/door-open-out-hover.png) 0 2px no-repeat;
}
/********************************************************************************** MENU SITE */
ul.menuprincipal { width: 966px; height: 41px; background: url(../imagens/menu2.gif) no-repeat; float:left; list-style: none; text-align: center;
                   margin: 12px 0 0 0; position: relative; }
ul.menuprincipal li { display: inline; }
ul.menuprincipal li a, ul.menuprincipal li a:link, ul.menuprincipal li a:visited {
    width: 192px;
    height: 13px;
    color: #fff;
    font: bold 12px Tahoma, Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 12px 0;
    float: left;
    margin: 0;
    text-shadow: 0 0 1px #000;
}
ul.menuprincipal li a:hover { text-shadow: 0 0 1px #939393; }
ul.menuprincipal li.current a {	text-shadow: 0 0 1px #939393; }

/********************************************************************************** SUBMENU PRODUTOS */
#menu-produtos { display: block; float: left; }
ul.submenuprodutos { width: 914px; height: 39px; float:left; list-style: none;  text-align: center;	margin: 0 0 10px -355px; *margin: 0 0 10px -548px;
                     position: absolute; top: 38px; display: none; z-index: 99; background: url(../imagens/submenu.gif) no-repeat; }
ul.submenuprodutos li {	display: inline; }
ul.submenuprodutos li a, ul.submenuprodutos li a:link, ul.submenuprodutos li a:visited {
    width: 301px;
    height: 11px;
    color: #7c7c7c;
    font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 12px 0;
    float: left;
    margin: 0;
    text-shadow: 0 0 0px #fff;
}
ul.submenuprodutos li a:hover {	color:#000; }
ul.submenuprodutos li.current2 a { color:#ff7c0b; }

/********************************************************************************** IDIOMAS TOPO */
.idiomastopo { margin: 27px 0 0 0; float: right; width: 105px; }
.idiomastopo a, #idiomastopo-master2 { border: 1px solid #d4d4d4; float: right; padding: 3px 5px; width: 85px; font: 10px Tahoma, Arial, Verdana, sans-serif;
                                       color: #a1a1a1; text-decoration: none; background-color: #fff; margin: 0 5px 0 0; }
#idiomastopo-master2 a, #idiomastopo-master2 div { color: #a1a1a1; text-decoration: none; padding: 0; margin: 5px 0; display: block; }
#idiomastopo-master2 a:hover { color: #4a4a4a; }
.idiomastopo a:hover { color: #4a4a4a; border: 1px solid #636363; }
.bandeira { border: 0; margin: 0 5px 0 0; float: left; }
.setaidioma { float: right; border: 0; margin: 3px 0 0 0; *margin: -8px 0 0 0; }
#idiomastopo-master { position: relative; left: -3px; z-index: 99; }
#idiomastopo-master2 { position:absolute; right:0px; top:46px; padding:0 5px; z-index:3; display:none; }

/********************************************************************************** CONTEUDO */
#conteudo { width: 970px; margin:10px auto 0; *margin:20px auto 0; float: left; }
#blocos3 { width: 942px; height: 123px; background: url(../imagens/3quadros.gif) no-repeat; padding: 14px 0 22px 20px; margin: 0 0 10px 0; }
#blocos3 img { margin: 0 5px 0 0; float: left; }
.bloco1 { width: 287px; float: left; margin: 0 30px 0 0; }
.bloco2 { width: 287px; float: left; margin: 0 32px 0 0; }
.bloco3 { width: 287px; float: left; margin: 0; }
.linhacinza { width: 100%; height: 1px; float: left; border-color: #f1f1f1; margin: 20px 0 10px; }
.titulosblocos { font: 20px Helvetica, Calibri, Arial, Verdana, sans-serif; color: #3d3d3d; margin: 0 0 13px 0; }
.textoblocos { font:13px Helvetica, Arial, Verdana, sans-serif; color: #3f3f3f;  text-decoration: none; margin: 5px 0 0 0; line-height: 20px; }
a.saibamais { color: #fb7203; font:13px Helvetica, Arial, Verdana, sans-serif; text-decoration: none; padding: 0 10px 0 0; background: url(../imagens/setinha.gif) right no-repeat; }
a:hover.saibamais { text-decoration: underline; }
.textos { text-align:justify; font:11px Tahoma, Arial, Helvetica, sans-serif;  color: #4c4847; text-decoration: none; }
a p.textos { text-decoration: none; }
.titulopaginas { font: bold 36px Calibri, Helvetica, Arial, Verdana, sans-serif; color: #4b4746; margin: 0 0 25px 0; text-shadow: 3px 3px 2px #e2e2e2;
                 padding: 0 0 5px 0; }
.titulonoticia { font: bold 20px Calibri, Arial, Verdana, sans-serif; color: #4b4746; margin: 0 0 25px 0; text-shadow: 2px 2px 1px #e2e2e2; padding: 0 0 5px 0; }

/********************************************************************************** PAGINA INICIAL */
.botoeshome a, .botoeshome2 a {
    font: 15px Helvetica, Arial, Verdana, sans-serif;
    color: #353535;
    float: left;
    text-decoration: none;
    margin: 10px 60px 30px;
    width: 105px;
    text-align: center;
    background-color: #fff;
}
.botapre a { margin: 10px 15px 30px; }
.botoeshome-disabled a { color: #b0b0b0; }
.botoeshome a:hover { color: #f57300; }
.botaocadastro a {
    width: 281px;
    height: 41px;
    background: url(../imagens/cadastro.gif) no-repeat;
    float: left;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    margin: 43px 0;
    color: #fff;
}

/********************************************************************************** APRESENTACOES */
.duracao {
    font: 11px Helvetica, Arial, Verdana, sans-serif;
    color: #8c8c8c;
    margin: 6px 0 0 42px;
    float: left;
    letter-spacing: 1px;
}

/********************************************************************************** E-LEARNING */
.linhatraco {
    width: 910px;
    height: 110px;
    margin: 0 auto;
    float: left;
    background: url(../imagens/linha.gif) center no-repeat;
    margin: 0 0 25px;
}

/********************************************************************************** MATERIAL DE APOIO */




/********************************************************************************** BLOCO RODAPE */
.blocorodape { width: 960px; height: 127px; background: url(../imagens/bloco-rodape.gif) no-repeat; float: left; padding: 12px 15px 0 20px; }
.telhome, .telhome3 { font: 11px Tahoma, Arial, Verdana, sans-serif; color: #737373; margin: 10px 15px 0 0;  line-height: 19px; float: left; }
.telhome3 {	margin: 10px 15px 0 45px; }
.telhome2 { font: 11px Tahoma, Arial, Verdana, sans-serif; color: #737373; margin: -6px 0 0 0; }
.telhome2 a { color: #737373; line-height: 17px; }
.blocopq1 {	float: left; margin: 0 20px 0 0; }
.blocopq3 {	width: 325px; float: right;	}

/********************************************************************************** PHONE2CORP */
#meio { width: 960px; margin:-10px auto 0 3px; float: left; background: url(../imagens/caixa-topo.gif) top no-repeat; }
#meio2 { width: 920px; margin:5px auto 0; min-height: 320px; float: left; background: url(../imagens/caixa-meio.gif) repeat-y; padding: 40px 20px 18px; }
#meio3 { width: 960px; margin:0 auto 0 3px; height: 4px; clear: both; background: url(../imagens/caixa-fim.gif) no-repeat; }
#menubox1 {	width: 220px; background: url(../imagens/box-1.gif) top no-repeat;	height: 30px; margin: -25px 0 20px 0; }
#menubox2 {	width: 220px; background: url(../imagens/box-2.gif) repeat-y; float: left; margin: 8px 0 0 0; }
#menubox3 { width: 220px; background: url(../imagens/box-3.gif) top no-repeat; height: 5px; float: left; }
.titulo-box { font: bold 13px Tahoma, Arial, Verdana, Calibri, sans-serif; color: #fff; padding: 7px 0 0 10px; height: 15px; }
ul.menubox { width: 218px; float:left; list-style: none; margin: 0 0 0 1px; }
ul.menubox li a, ul.menubox li a:link, ul.menubox li a:visited {
    width: 208px; color: #6e6e6e; font: 12px Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; padding: 6px 0 6px 10px; float: left;
    display: block;	border-top: 1px solid #dcdcdc; }
ul.menubox li a:hover { color: #000; background-color: #f1f1f1; text-shadow: 1px 1px 1px #d3d3d3; }
ul.menubox li.current3 a { color: #000; background: url(../imagens/seta-menu.gif) 205px 7px no-repeat #f5faff; text-shadow: 1px 1px 1px #d3d3d3; }
.titulo-prod { font: 26px Helvetica, Arial, Verdana, sans-serif; color:#6e6e6e; margin: -45px 0 20px 20px; float: right; width: 676px; }

div.textos-prod2 {
    float:left;
    width: 675px;
    font:13px Tahoma, Arial, Helvetica, sans-serif;
    color: #4c4847;
    line-height: 18px;
    text-align: justify;
    margin-left:20px;
    background:white;
}
div.textos-prod2 form {
    width: 675px;
}
div.textos-prod2 h3 {
    font: 26px Helvetica, Arial, Verdana, sans-serif;
    color:#6e6e6e;
}
div.textos-prod2 form  { padding: 0; margin: 0;}
.subtitulos { font: bold 14px Tahoma, Arial, Verdana, sans-serif; line-height: 30px; }
.imgright2 { float: right; padding: 0 0 10px 20px; }
.imgleft2 { float: left; padding: 0 25px 10px 0; }
.imgcenter2 { margin: 0 0 0 50px; }

.textos2 { margin: 0 0 10px 0; font:13px Tahoma, Arial, Helvetica, sans-serif; color: #4c4847; text-decoration: none; float: left; line-height: 20px;
           width: 630px;}

.textos3 { margin: -20px 0 10px 0; font:13px Tahoma, Arial, Helvetica, sans-serif; color: #4c4847; text-decoration: none; float: left; line-height: 20px;  }

/********************************************************************************** PHONE2BRIDGE */
ul.menuprodutos {
    float:right;
    list-style: none;
    text-align: center;
    position: relative;
    top: -20px;
}
ul.menuprodutos li { display: inline; }
ul.menuprodutos li a, ul.menuprodutos li a:link, ul.menuprodutos li a:visited {
    color: #6e6e6e;
    font: 11px Tahoma, Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 3px 15px;
    float: left;
}
ul.menuprodutos li a:hover, ul.menuprodutos li.current a { color: #000; text-shadow: 1px 1px 1px #d3d3d3; }
ul.menuprodutos li.current a { font-weight: bold; }
.subtitulo-prod { width:605px; float:left; font: 26px Helvetica, Arial, Verdana, sans-serif; color:#6e6e6e; margin: -30px 0 20px 0; height: 120px; }
.subtitulo-prod2 { width:605px; float:left; font: 18px Arial, Verdana, sans-serif; color:#f07000; margin: 20px 0 10px; }
.subtitulo-prod3 { font: 26px Helvetica, Arial, Verdana, sans-serif; color:#6e6e6e; margin: -30px 0 25px 0; }
.subtitulo-prod5 { font: 20px Helvetica, Arial, Verdana, sans-serif; color:#6e6e6e; margin: -30px 0 30px 0; }
.subtitulo-prod6 { font: 26px Helvetica, Arial, Verdana, sans-serif; color:#6e6e6e; margin: -30px 20px 20px 0; float: left;  }
.linktitulo a { text-decoration: none; color:#6e6e6e; }
.linktitulo a:hover { text-decoration: underline; }

/********************************************************************************** SUPORTE TECNICO **/
/* Accordion --------------------*/
#accordion a.linkacordion {
    font: 12px Tahoma, Arial, Verdana, sans-serif;
    text-decoration: none;
    color: #666;
    display: block;
    background: url(../imagens/fundoaco.gif) no-repeat;
    padding: 6px 0 5px 24px;
    margin: 2px 0 0 0;
    height:16px;
    width: 920px;
    float: left;
}
#accordion a.ui-state-hover { background: url(../imagens/fundoaco3.gif) no-repeat; width: 920px; }
#accordion a.ui-state-active { color:#f28900; background: url(../imagens/fundoaco2.gif) no-repeat; width: 920px; }
#accordion .ui-accordion-content, #accordion .ui-accordion-content-active {
    font: 13px Tahoma, Arial, Verdana, sans-serif;
    margin:10px;
}
#accordion .ui-accordion-content-active a {
    color: #db6c00;
}

/********************************************************************************** AREA CLIENTE **/
.meiologin {
    width: 720px;
    margin: 15px auto 0;
}
.fieldcli, .fieldlogin, .fieldlogin2 {
    border: 1px dotted #bebebe;
    text-align: left;
    padding: 10px 20px;
    width: 875px;
    margin: 0 0 20px 0;
}
.fieldlogin {
    float: left;
    width: 270px;
    margin: 0 80px 0 0;
}
.fieldlogin2 {
    float: left;
    width: 270px;
}
.clienteesq {
    width: 420px;
    float: left;
}
.clienteesq p, .clienteesq2 p {
    height: 58px;
}
legend {
    font: bold 13px Tahoma, Arial, Verdana, sans-serif;
    padding: 0 5px;
}
.fieldcli2 {
    border: 1px dotted #bebebe;
    text-align: left;
    padding: 10px 20px;
    width: 630px;
    margin: 0 0 20px 25px;
}
.clienteesq2 {
    width: 315px;
    float: left;
}
.fieldcli2 legend {
    font: bold 13px Tahoma, Arial, Verdana, sans-serif;
    padding: 0 5px;
}
#meiorevenda {
    float: left;
    width: 920px;
}
.fieldempresa {
    border: 1px dotted #bebebe;
    text-align: left;
    padding: 10px 20px;
    width: 405px;
    float: left;
    margin: 0 10px 20px 0;
}
.textosempresa, .textosempresa a {
    font: 11px Tahoma, Arial, Verdana, sans-serif;
    line-height: 22px;
    color: #4c4847;
}
#formcliente { margin: -20px 0 0 0; }
.menos20 { margin: -30px 0 40px 0; }

/********************************************************************************** PRODUTOS ATIVOS */

/************************************** TABELA */


table.table {
    clear: both;
    margin:0 0 5px 0;
    width: 100%;
    font: 11px Tahoma, Arial, Verdana, sans-serif;
    color: #353535;
    table-layout: fixed;
}
table.table td { padding: 5px; }
table.table thead { background: url(../imagens/titulo-tabela.gif) no-repeat; height: 30px; color: #fff; }
table.table thead td { font-weight: bold;  font-size: 11px; border-right: 1px solid #ccc; }
table.table tbody td { border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; height: 26px; overflow: hidden; }
table.table tbody td:first-child { border-left: 1px solid #DDD; }
table.table tbody tr:nth-child(even) { background: #f4f4f4; }
table.table tbody tr:nth-child(odd) { background: #ffffff; }
.center { text-align: center; }

#topotabela {
    width:917px;
    height: 30px;
    float: left;
    background: url(../imagens/titulo-tabela.gif) no-repeat;
}
.titulotabela {
    font: bold 11px Tahoma, Arial, Verdana, sans-serif;
    color: #fff;
}
.titulo1,.titulo2, .titulo3, .titulo4, .titulo5, .titulo6, .titulo7, .titulo8, .titulo9 { overflow:hidden; float: left; border-right: 1px solid #e8e8e8; padding: 7px 0 0 5px; height: 23px; }
.titulo1 { width: 40px; text-align: center; }
.titulo2 { width: 350px; }
.titulo3 { width: 170px; }
.titulo4 { width: 130px; }
.titulo5 { width: 90px; }
.titulo6 { width: 95px; border: 0; }
.titulo7 { width: 190px; border: 0; }
.titulo8 { width: 400px; }
.titulo9 { width: 280px; border: 0; }
.titulo9 img {
    border:0;
    margin:-2px 5px 0;
}
.center { text-align: center; }
.linha1, .linha2 {
    width:915px;
    height: 30px;
    float: left;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    font: 12px Tahoma, Arial, Verdana, sans-serif;
    color: #353535;
}
.linha1 { background-color: #f5f5f5; }
.linha2 { background-color: #fdfdfd; }
.linhafinal {
    width: 917px;
    height: 1px;
    float: left;
    background-color: #d8d8d8;
}
.bot-novo a {
    width: 118px;
    height: 18px;
    float: left;
    background: url(../imagens/bot-novo.gif) no-repeat;
    text-indent: -9999px;
    display: block;
    overflow: hidden;
    margin: -21px 0 0 0;
    color: #fff;
}
.bot-novo a:active {
    background: url(../imagens/bot-novo2.gif) no-repeat;
}
.bot-filtro a {
    width: 95px;
    height: 19px;
    background: url(../imagens/bot-filtrar1.gif) no-repeat;
    text-indent: -9999px;
    display: block;
    overflow: hidden;
    color: #fff;
    float: right;
    margin: -20px 0 0 0;
}
.bot-filtro a:active {
    background: url(../imagens/bot-filtrar2.gif) no-repeat;
}
.filtro {
    background: url(../imagens/filtrar2.gif) right no-repeat;
    width: 156px;
    height: 34px;
    float: right;
    font: 11px Tahoma, Arial, Verdana, sans-serif;
    color: #6d6d6d;
    margin: -20px 0 0 0;
}
.filtro p { float: left; }
.filtro input, .filtro input:hover, .filtro input:focus {
    border: 0;
    width: 95px;
    height: 15px;
    padding: 0;
    margin: 10px 0 0 7px;
}
.botao-enviar a {
    width: 16px;
    height: 20px;
    display: block;
    background: url(imagens/bot-enviar.gif) no-repeat;
    cursor: pointer;
    margin: 7px 0 0 3px;
}
.paginas {
    font: 11px Tahoma, Arial, Verdana, sans-serif;
    color: #6d6d6d;
    float: right;
    margin: 10px;
}
.paginacao {
    float: right;
    margin: 10px -5px 0 0;
}
.paginacao img { border: 0; margin: 0 7px;}
.bordaimg img {
    border:0;
    margin:-2px 5px -5px;
}
.getadobe { float: left; }
.linkdownload a {
    font-weight: bold;
    color: #353535;
}
.imgdelete a img { margin: 0; border: 0; }
.linhavermelha { color: red; font-weight:bold; }
.linhalaranja { color: #f77a0b; font-weight:bold; }
.niveltrein {
    width: 123px;
    height: 15px;
    background: url(../imagens/nivel.gif) left no-repeat;
    padding: 1px 0 0 0;
    font-weight: bold;
}

.nivel0 { background-position: 0 0; }
.nivel10 { background-position: -50px 0; }
.nivel20 { background-position: -100px 0; }
.nivel30 { background-position: -140px 0; }
.nivel40 { background-position: -170px 0; }
.nivel50 { background-position: -210px 0; }
.nivel60 { background-position: -240px 0; }
.nivel70 { background-position: -270px 0; }
.nivel80 { background-position: -300px 0; }
.nivel90 { background-position: -330px 0; }
.nivel100 { background-position: -370px 0; }

/********************************************************************************** AGENDA **/
.itemagenda, .itemagenda a {
    font: 12px Tahoma, Arial, Verdana, sans-serif;
    margin: 0 0 15px 0;
    color: #4c4847;
    text-decoration: none;
}
.dataagenda {
    color: orange;
    font-weight: bold;
}
.itemagenda a:hover {
    text-decoration: underline;
}

/********************************************************************************** REVENDA */
.titulo-suporte a, .titulo-suporte-en a { background: url(../imagens/suporte.png) no-repeat; text-indent: -9999px; overflow: hidden; display: block;
                                          width: 331px; height: 54px; margin: 10px 0 0 20px; }

.titulo-cliente a, .titulo-cliente-en a { background: url(../imagens/clientes.png) no-repeat; text-indent: -9999px; overflow: hidden; display: block;
                                          width: 331px; height: 54px; margin: 10px 0 0 20px; }
/********************************************************************************** REVENDA */
.titulo-revenda a, .titulo-revenda-en a { background: url(../imagens/title-revenda.gif) no-repeat; text-indent: -9999px; overflow: hidden; display: block;
                                          width: 331px; height: 54px; margin: 10px 0 0 20px; }
.titulo-revenda-en a { background: url(../imagens/title-revenda-en.gif) no-repeat; }

/********************************************************************************** FALE CONOSCO */
.botoes { float: left; width: 200px; }
input, select, textarea { padding:4px; margin:3px 0 10px; border:1px solid #ffcb79; background-color:#FFFFFF; font: 11px Verdana, Arial, Helvetica, sans-serif; }
input:hover, select:hover, textarea:hover, input:focus, select:focus, textarea:focus { border:1px solid #e87f24; }
.aceito { font: 10px Arial, Verdana, sans-serif; color: #000; }

.bot-laranja { height: 29px; background: url(../imagens/bot2.gif) right no-repeat; padding: 0 13px 0 0; float: left; cursor:pointer;margin-left:5px; }
.bot-laranja-dentro a { float: left; height: 24px; display: block; background: url(../imagens/bot1.gif) left; font: bold 13px Arial; color: #fff;
                        text-decoration: none; padding: 5px 0 0 13px; }
.bot-laranja-dentro a:hover { text-shadow: 1px 1px 1px #515151; }

.bot-azul { height: 29px; background: url(../imagens/back-bot2.gif) right no-repeat; padding: 0 13px 0 0; float: left; cursor:pointer; margin-left:5px;}
.bot-azul p { margin: 0; padding: 0;}
.bot-azul-dentro a { float: left; height: 24px; display: block; background: url(../imagens/back-bot1.gif) left; font: bold 13px Arial; color: #3A649D;
                        text-decoration: none; padding: 5px 0 0 13px; }
.bot-azul-dentro a:hover { text-shadow: 1px 1px 1px #fff; }

.textopq { color:#58595b; font: 9px Tahoma, Arial, Verdana, sans-serif; margin: 7px 0 0 0; float: left; }

/********************************************************************************** RODAPE */
#rodape { width: 950px; height: 55px; margin:0 auto; padding: 5px 0 0 0; background: url(../imagens/sombra.gif) no-repeat; clear: both; }
.logorod a { width: 144px; height: 21px; float: left; display: block; overflow: hidden; text-indent: -9999px;
             background: url(../imagens/logo-rodape.gif) no-repeat; margin:3px 0 0 0; }
.rod { font: 10px Tahoma, Arial, Helvetica, sans-serif; color: #58595b; margin: 0 0 0 10px; line-height: 15px; float: left; }
ul.menurodape { float:right;  list-style: none; }
ul.menurodape li { display: inline; color: #58595b; font: 10px Tahoma, Arial, Helvetica, sans-serif; }
ul.menurodape li a, ul.menurodape li a:link, ul.menurodape li a:visited { color: #58595b; text-decoration: none; }
ul.menurodape li a:hover { text-decoration: underline; }


/********************************************************************************** ALERTAS */
div.msgerro, div.msgalerta, div.msgsucesso {
    margin: 15px 0;
    line-height: 18px;
    font: 11px Tahoma, Verdana, Arial, sans-serif;
}
div.msgerro p, div.msgalerta p, div.msgsucesso p {
    padding: 7px 0 7px 35px;
    line-height:15px;
}
div.msgerro {
    border: 1px solid #cd0000;
    color: #cd0000;
    background: url(../imagens/alert_red.jpg) repeat-x #FEDDD8;
}
div.msgerro p { background: url(../imagens/alert_ico_red.jpg) no-repeat left top; }
div.msgalerta {
    border: 1px solid #d7b600;
    color: #ab8d00;
    background: url(../imagens/alert_yellow.jpg) repeat-x #F7EA84;
}
div.msgalerta p { background: url(../imagens/alert_ico_yellow.jpg) no-repeat left top; }
div.msgsucesso {
    border: 1px solid #009739;
    color: #009739;
    background: url(../imagens/alert_green.jpg) repeat-x #D7F0DA;
}
div.msgsucesso p { background: url(../imagens/alert_ico_green.jpg) no-repeat left top; }
a.selected { color: red; font-weight: bold;}

div.observations p { border-bottom: 1px solid #aaa; height: 30px; }
.decoration_none { text-decoration: none; }