body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial;
}
img { border: none; }
#banner-alert {
	font-family: Arial;
	font-size: 12px;
 	line-height: 25px;
 	padding: 5px;
 	text-align: center;
 	color:#fff;
 	border-bottom: 1px solid #fff;
}
#banner-alert span { width:300px; padding-left: 450px; }


#shop {
	margin: 0 auto;
	width: 980px;
	clear: both;
	background:#FFF;
}


#menu { text-align: center; line-height: 30px; height: 30px; border-radius: 5px;}
#menu ul { list-style: none; }
#menu ul li { display: inline }
#menu ul li a { padding: 7px 12px;text-decoration: none; font-size:11px; border-radius: 5px 5px 0 0; }


#content { 
	padding:2px;
}
.main-banner {
	margin:2px;
	
	height:250px;
}

#footer {
	padding:5px;
}
#footer a { text-decoration:none; }
#footer a:hover { text-decoration:underline; }
#alldepartaments { 
	clear:both;
	position:absolute; 
	z-index:1000; 
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	display:none;
	text-align:left;
	padding:5px;
	background:#f5f5f5;
	width: 968px;
	margin-top:-13px;
}
#alldepartaments h2{
	padding:0;
	margin:0;
	font-size:16px;
	
}

#cart { border:1px solid #f5f5f5; }
#cart thead tr td { background: #f5f5f5; font-weight: bold; padding: 5px;}
#cart tbody tr td { padding: 5px; border-bottom:1px solid #f5f5f5; } 
#cart tfoot tr:first-child td { background: #f5f5f5; } 
#cart tfoot tr td { padding: 5px; border-bottom:1px solid #f5f5f5; } 

.box10 { width: 10%; float: left;}
.box15 { width: 15%; float: left;}
.box20 { width: 20%; float: left;}
.box25 { width: 25%; float: left;}
.box33 { width: 33.33%; float: left;}
.box45 { width: 45%; float: left;}
.box50 { width: 50%; float: left;}
.box70 { width: 70%; float: left;}
.box75 { width: 75%; float: left;}
.box80 { width: 80%; float: left;}

.image { height:150px; background:url(../imagens/image_example.jpg) no-repeat center center }
.product { border:1px solid transparent; padding:5px; text-align:center; border-top:1px dotted #DDDDDD}
.product a { font-weight:bold; color:#555555; text-decoration:none; }
.product a:hover { font-weight:bold; color:#555555; text-decoration:underline; }
.product span { height:150px; }
.product:hover { }

.price_for { font-weight:normal; }
.price_to { font-weight:bold; color:#AA0000;}

.box { border:1px solid #999999;}
.backred { font-size: 16px;}
.textright { text-align: right; }
.textcenter { text-align: center; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px;}
.font20 { font-size: 20px;}
.padding5px { padding: 5px; }
.padding10px { padding: 10px; }
.divcenter { margin: 0 auto; }