a { color:#000000; }
#menu { background:#95251C; border-bottom: 1px solid #999999;}
#header { }
#menu ul li a { 
	background: white;
	color:#000;
	font-weight: bold; 
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	padding-bottom: 9px;
	padding-top: 10px;
}
#menu ul li a:hover { text-decoration: underline; background: #f5f5f5;}
#banner-alert {	background:#95251C; }
#banner-alert a { color:yellow; font-weight: bold; }

#sub-header { text-align: right; }

#footer {
	border-top:5px solid #95251C;
	background:#f5f5f5;
}
#footer ul {
	padding:0;
	margin:0;
}
#footer ul li {
	list-style:none;
	padding:0;
	margin:0;
}

#alldepartaments h2 {
	color:#95251C;
}

.main-banner {
	background:#f4f4f4;
	border:1px solid #95251C;
}
.button  {
	background: #95251C;
	color:#ffffff;
	border-radius: 5px;
	padding: 5px;
	text-decoration: none;
}
.border { border: 1px solid #f5f5f5;}
.button:hover { text-decoration: underline; }
h4 { background: #95251C; 

	color:#ffffff;}